body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #02084B;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
}

h1 {
    margin: 0;
    
}

.main-content {
    padding: 20px;
    text-align: center;
}

.signup-form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

h2 {
    color: #02084B;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    margin: 10px 0;
    padding: 10px;
}

button {
    background-color: #02084B;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #c50dd9;
}

footer {
    background-color: #02084B;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.bemvindo {
  color: #c50dd9;
  text-align: center;
  font-size: 30px;
}

.logo {
width: 100px;
height: 100px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.menu {
    text-align: center;
}

.menu-button {
    background-color: #c50dd9;
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 3px;
    cursor: pointer;
    font-size: 10px;
}

.menu-button:hover {
    background-color: rgba(0, 0, 0, 0);
}
.rodape {
    font-size: 20px;
    
}

.roda{
    font-size: 15px;
}

h1 {
    margin: 0;
    
}

.main-content {
    padding: 20px;
    text-align: center;
}

.signup-form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

h2 {
    color: #02084B;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    margin: 10px 0;
    padding: 10px;
}

button {
    background-color: #02084B;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #c50dd9;
}

.bemvindo {
  color: #c50dd9;
  text-align: center;
  font-size: 30px;
}
.desenvolvimento {
  color: #02084B;
  text-align: center;
   font-size:20px ;
}

.logo {
width: 100px;
height: 100px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.rodape {
    font-size: 20px;
    
}
footer {
    background-color: #02084B;
    color: #fff;
    text-align: center;
    padding: 0px 0;
    bottom: 0;
    width: 100%;
    
}

.roda{
    font-size: 15px;
}
.ds {
    width: 100px;
    height: 100px;
    
}

.cta-1{
    border-radius: 15px;
    width: 250px;
    height: 60px;
    font-size: 30px;

}

.vagas{
  font-size: 18px;
  color: #333;
}

.menu {
    background-color: #02084B;
    padding: 20px;
    display: flex;
    justify-content: center; 
}

.menu-button {
    background-color: #c50dd9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 14px; 
}

.menu-button:hover {
    background-color: #777;
}

.abc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.bcd{
 padding: 58px;
}
